# Thư mục build sinh tự động bởi CMake/Ninja
build/
bin/

# VS Code local settings
.vscode/*
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json

# C++ compiled object files
*.o
*.obj
*.exe
